<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>DVD Store</title>
	</head>
	
	<body>
		
		<form th:action="@{/movie/add}" method="post" th:object="${movieForm}">
			
			<p>
				<label for = "nom">Nom :</label>
				<input type="text" name = "nom" id = "nom" th:field="*{nom}"/>
			</p>
			<div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
			
			<p>
				<label for = "prenom">Prenom :</label>
				<input type="text" name = "prenom" id = "prenom" th:field="*{prenom}"/>
			</p>
			<div th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></div>
			
			<p>
				<label for = "title">Titre du film :</label>
				<input type="text" name = "title" id = "title" th:field="*{title}"/>
			</p>
			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
			
			<p>
				<label for = "title">Genre du film :</label>
				<select th:field="*{genre}">
				   <option th:value="COMEDIE" th:text="Comédie"></option>
				   <option th:value="HORREUR" th:text="Horreur"></option>
				   <option th:value="THRILLER" th:text="Thriller"></option>
				   <option th:value="FICtiON" th:text="Fiction"></option>
				   <option th:value="ACTION" th:text="Action"></option>
				   <option th:value="ROMANTIQUE" th:text="Romantique"></option>
				   <option th:value="DRAME" th:text="Drame"></option>
				   <option th:value="ANIMATION" th:text="Animation"></option>
				</select>
			</p>
			<div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
		
			<p>
				<label for = "title">Description du film :</label>
				<textarea name = "description" id = "description" th:field="*{description}"></textarea>
			</p>
			<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
		
			<input type="submit" value="Add Movie"/>
		</form>
		
	</body>
	
</html>