<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>DVD Store</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<h1>DVDStore : Votre boutique de DVD en ligne</h1>
		<p><a href="add-movie-form">Ajouter un film</a></p>
		<h2>Liste des films : </h2>
		<section class="container">
		    <div class="left-half">
		        <article id="movie-list">
		 
		        </article>
		    </div>
		    <div class="right-half">
		        <article id="movie-detail">
		 
		        </article>
		    </div>
		</section>
<!-- 		<table border="1"> -->
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th>Title</th> -->
<!-- 					<th>Genre</th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
			
<!-- 			<tbody> -->
<!-- 				<tr th:each="movie:${movies}"> -->
<!-- 					<td> -->
<!-- 						<a th:href="@{/movie/{id}(id=${movie.id})}"  th:text="${movie.title}"></a> -->
<!-- 					</td> -->
<!-- 					<td th:text="${movie.genre}"></td> -->
<!-- 				</tr> -->
<!-- 			</tbody> -->
			
<!-- 			<tfoot> -->
<!-- 				<tr> -->
<!-- 					<th>Title</th> -->
<!-- 					<th>Genre</th> -->
<!-- 				</tr> -->
<!-- 			</tfoot> -->
			
<!-- 		</table> -->
	</body>
	
	<script type="text/javascript" th:src="@{/js/script.js}" async="true" defer></script>
	
</html>